/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@font-face {
    font-family: Inter;
    src: url('./assets/Inter_24pt-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('./assets/Poppins-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}



.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.welcome{
    display: flex;
    padding: 5% 2%;
    /* padding-left: 10%; */
}

.welcome-left{
    width: 50%;
    padding-top: 10%;
    /* padding-left: 15%; */
}
.welcome-right{
    height: 70%;
    width: 50%;
}

.welcome-right img{
    height: 100%;
    width: 100%;
}
#welcome-h3{
    font-size: 3rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-bottom: 3%;
    padding-left: 15%;
}
#welcome-p{
    font-size: .87rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
    width: 65%;
    font-weight: 400;
    padding-left: 15%;
}
.vector-1-parent{
    position: relative;
}
.vector-1{
    position: absolute;
    top: -200px;
    left: -20px;
}
#ellipse1{
    position: absolute;
    z-index: -1;
    top:50px;
    left:-20px
}
#vec{
    position: absolute;
    top: 7px;
    right: 50px;
    z-index: -1;
}
.news-sec{
    padding: 10%;
}
.news{
    display: flex;
}
.news > div{
    width: 50%;
}
.news-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
}
.news-card img{
    width: 100%;
    height: 80%;
}
#news-update{
    font-size: 3rem;
    font-family: Poppins;
    color: #023047;
    font-weight: 700;
    margin-bottom: 2%;

}
#mrv{
    color: #FB8500;
    font-size: 1.5rem;
    font-family: inter;
    font-weight: 700;
    margin: 2% 0;
}
.date{
    color: #22215B;
    font-size: .85rem;
    font-weight: 300;
    font-family: inter;
    margin-bottom: 2%;
}
.receipt{
    font-size: .75rem;
    font-family: inter;
    color: #22215B99;
    font-weight: 400;
    width: 70%;
    line-height: 30x;
    margin-bottom: 10%;
}

.read{
    font-family: inter;
    color: #FB8500;
    font-weight: 600;

}
.fly{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5%;
    background-color: #023047;
}
.fly-box-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.non-img{
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 2%;
    font-weight: 700;
    margin-bottom: 3%;
}
.fly-box{
    margin-bottom: 3%;
}
.fly-text{
    text-align: center;
    font-size: 9rem;
    font-weight: 1000;
    color: #fff;
    font-family: Inter;
    margin-top: 3%;
}
#plane{
    position: absolute;
    top:-105px;
    left:30px
}
.fly-right{
    border-left: 3px solid #115D83;
    padding: 2%;
}
.fbb-left{
    color: #69B6DC;
    font-size: 12px;
    font-family: Inter;
}
.arrow-btn{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3%;
    width: 60px;
}